### GENERAL

# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store
.supported

# common code editors
.atom/
.vscode/

# JetBrains IDEs
# see https://intellij-support.jetbrains.com/hc/en-us/articles/206544839
# note: in the future, we might version it
.idea/

# common files
*.log

# local-only files (may be useful during development)
*.local.*
*.local


### PROJECT

# thesis template Git repo (just for reference, actual template is copied to this project)
/text/tex/ctustyle3/
# thesis build outputs
/text/tex/*.ref
/text/tex/*.pdf
